.our-story
    .story-date
        font-family: Prata
        letter-spacing: 3px
        color: rgb(35, 31, 32)
        font-size: 18px
        font-weight: 500
        text-transform: uppercase
    .story-title
        font-family: Prata
        font-size: 16px
        font-weight: 200
        margin-top: 0
    .story-content
        font-family: Prata
        letter-spacing: 1px
        color: rgb(35, 31, 32)
        font-size: 14px
        font-weight: normal
        text-transform: none
        white-space: pre-wrap
    .MuiTimelineContent-root
        width: 300px
        > *
            width: 100%
    .MuiDivider-wrapper
        > :first-child
            width: 100%
    .MuiTypography-root
        &.MuiTimelineOppositeContent-root
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            text-align: center